.slider-text .bread {
    font-family: 'twlCenMt';
    font-weight: normal;
    /* font-size: 185px;
    line-height: 150px; */
    margin-top: 270px;

    font-size: 80px;
    line-height: 85px;
}


.mainTitle {
    align-items: center;
    justify-content: center;
}

.slider-text p {
    font-size: 38px;
    font-family: 'BerlinSans';
    line-height: 50px;
}

#sectionCeuSul {
    min-height: r00px;
    background-image: url('../../imagens_page/paginas/ceu-do-sul-detalhe/capa_destaque_ceudosul.png');
}


#sectionContent {
    background-color: #fff;
    padding: 50px 0;
}

#sectionContent img {
    width: initial;
}

#sectionContent .sessao_conteudo {
    font-size: 16px;
    color: #000;
}

#sectionContent .sessao_conteudo img{
    width: initial;
    margin: 20px 0 ;
}

#sectionContent .titulo {
    font-size: 30px;
    line-height: 35px;
    margin: 30px 0;
}

#sectionRodape {
    background-color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'twlCenMt';
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

#sectionRodape .container {
    max-width: 100%;
}

#sectionRodape .containerPageRodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#sectionRodape p {
    font-size: 20px;
}

p {
    font-size: 20px;
    font-family: 'twlCenMt';
}

p.right {
    text-align: right;
}

p.legendaImagem{
    font-size: 17px;
    line-height: 17px;
    color: #999999;
}